/* common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


/* Font family section  */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.primary-color{
    color: rgb(137, 135, 161);
}
.secondary-color{
    color: rgba(233, 90, 8, 1.00);
}
.common-color{
    color: rgba(0, 0, 0, 0.50);
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 30px 0 120px 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
nav ul li {
    list-style: none;
   
}
nav ul li a{
    text-decoration: none;
}

/* banner section  */

.banner{
    display: flex;
    justify-content: center;
    align-items: end;
}
.banner-left{
    width: 50%;
    margin: 0;
    padding-top: 175px;
}
.banner-left h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner-left p{
    font-size: 1.38rem;
}
.banner-right{
    width: 50%;
    margin: 0;
    padding-top: 106px;
}


/* our plants section  */

.our-plants{
    margin-top: 106px;
    margin-bottom: 49px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.our-plants h2{
    font-size: 3rem;
    font-weight: 700;
    padding: 0 530px 0 340px;
}
.our-plants p{
    font-size: 1.38rem;
    margin:16px 126px 0 126px;
}
.card{
    width: 270px;
}
.card h2{
    font-size: 1.38rem;
    font-weight: 500;
    color: rgb(17, 17, 17);
    text-align: center;
    margin: 30px 69px 20px 69px;
}
.prize{
    font-size: 1.38rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1.00);
    text-align: center;
    margin: 0 94.5px 30px 94.5px;
}
.card button{
    width: 100%;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(233, 90, 8, 1.00);
    margin-bottom: 30px;
    padding: 19px 80px;
}


/* Flower Store section  */

.flower-description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 60px;
    margin-top: 180px;
    margin-bottom: 133px;

}
.flower-description div{
   flex: 1;
}
.flower-description img{
    width: 100%;  
}
.flower-description h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1.00);
}
.flower-list li{
    font-size: 1.38rem;
    color: rgba(0, 0, 0, 0.50);
    list-style-type: disc;
}
.middle-li{
    padding: 20px 0;
}
.badge{
    margin-top: -580px;
    margin-left: -160px;
}

/* Latest  Deal section  */
.deal-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.deal-title h2{
    font-size: 4rem;
    font-weight: 700;
}
.deal-title p{
    font-size: 1.38rem;
    margin: 16px 126px 0 126px;
}
.special-cards{
    display: flex;
    gap: 28px;
    margin-top: 121px;
    margin-bottom: 120px;
}
.double-card{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.special-card-1{
    width: 367px;
    height: 201px;
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-bloom.png') no-repeat center center / cover;
    background-color: rgba(200, 200, 200, 1.00);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: rgba(255, 255, 255, 1.00);
    font-size: 1.25rem;
    font-weight: 700;
}
.special-card-2{
    width: 367px;
    height: 197px;
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-ana.png') no-repeat center center / cover;
    background-color: rgba(200, 200, 200, 1.00);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    color: rgba(255, 255, 255, 1.00);
    font-size: 1.25rem;
    font-weight: 700;
}
.special-card-3{
    width: 753px;
    height: 423px;
    background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/deal-zabo.png') no-repeat center center / cover;
    background-color: rgba(200, 200, 200, 1.00);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    color: rgba(255, 255, 255, 1.00);
    font-size: 2.5rem;
    font-weight: 700;
}

.special-cards a{
    border-bottom: 3px solid white;
}

/* join section  */

.subscribe-section{
    width: 100%;
    height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    
}

.subscribe-container h1{
    font-size: 3rem;
    font-weight: 700;
    padding: 0 122px 23px 122px;
    
}
.form{
    width: 644px;
    height: 50px;
    background-color: rgba(255, 255, 255, 1.00);
    color: rgba(0, 0, 0, 0.50);
    padding: 15px 540px 15px 20px;

}
button{
    font-weight: 600;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(233, 90, 8, 1.00);
    margin-left: -5px;
}

/* Footer section  */

footer{
    padding: 50px 160px;
    width: 100%;
    height: 348px;
    color: rgb(107, 114, 128);
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto
}
.footer-block {
  flex: 1 1 200px;
  margin: 10px;
}
.footer-links {
  list-style: none;
  padding: 0;
}
.footer-links li {
  margin: 6px 0;
}
.footer-links a {
  text-decoration: none;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}




.hide-item{
    display: none;
}

/* Responsive media query */

@media screen and (max-width: 576px) {

    /* navbar and banner  */
    nav{
        margin: 67px 16px 28px 16px ;
    }
    .hide{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left{
        width: 100%;
        padding: 28px 16px 65px 16px;
    }
    .banner-right{
        width: 100%;

    }

    /* our plants section  */

    .hide-card{
        display: none;
    }
    .our-plants{
        margin: 0 auto;
    }
    .our-plants h2{
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .our-plants p{
        margin: 16px 28.5px 0 28.5px;
    }
    .card-container{
        margin: 20px ;
    }
    .card{
        width: 100%;
    }
    .card h2{
        margin: 30px 20px 10px 20px;
    }
    .prize{
        margin: 0 40px 30px 40px;
    }
    .card button{
        padding: 20px;
    }    

    /* flower store section  */

    .badge{
        display: none;
    }
    .flower-description{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    

    }
    .flower-list{
        padding-left: 20px;
        padding-right: 0px;
    }

    /* leatest deal  */
   .special-cards{
    flex-wrap: wrap;
    justify-content: center;
   }
   .special-card-3{
    width: 367px;
    height: 201px;
    font-size: 20px;
   }
        
    .deal-title p{
        margin: 20px;
    }

    /* join section  */

    .subscribe-container h1{
        font-size: 25px;
    }
    .form{
        width: 100%;
    }

    /* footer  */

    footer{
        padding: 20px ;
    }
}


